<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Gpay" class="com.jaybabaji.GpayPayment"/>
    <bean id="payment" class="com.jaybabaji.CreditCardPayment"/>
    <bean id="payments" class="com.jaybabaji.PaymentService" autowire="byName">
    </bean>
   <!-- <bean id="payment" class="com.jaybabaji.PaymentService" scope="prototype">
        <constructor injection <constructor-arg name="payment" ref="credit"/>
      <setter injection <property name="payment" ref="Gpay" />
    </bean> -->
</beans>